:root {
  --text-color: #000;
  --secondary-text-color: #ffffff;
  --bg-color: #394cd8;
  --accent-color: #2536b9;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  line-height: 1.5;
}

p {
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

.photo {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
}

.search-form {
  position: relative;
  padding: 8px;
  width: 320px;
  font: inherit;
}

.search-form__input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border: 2px solid var(--bg-color);
  border-radius: 5px;
  outline: none;
}

.search-form__btn {
  position: absolute;
  top: 8px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background: rgb(241, 238, 238);
  border-top: 2px solid var(--bg-color);
  border-bottom: 2px solid var(--bg-color);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-form__btn:hover,
.search-form__btn:focus {
  background: rgb(216, 213, 213);
}

.gallery,
.info {
  display: flex;
  flex-wrap: wrap;
}
.gallery {
  margin-top: -20px;
  margin-left: -20px;
  padding: 20px 0;
  justify-content: center;
}

.gallery__link {
  margin-top: 20px;
  margin-left: 20px;
  min-width: 320px;
  flex-basis: calc((100% - 80px) / 4);
  border: 2px solid rgb(241, 238, 238);
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 250ms var(--transition);
}

.gallery__link:hover,
.gallery__link:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.photo-thumb {
  height: 33vh;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}

.info-item:not(:first-child) {
  margin-left: 5px;
}

.info {
  padding: 10px;
  justify-content: space-around;
}

.load-more-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 8px 12px;
  border: 2px solid var(--bg-color);
  border-radius: 5px;
  font: inherit;
  color: var(--secondary-text-color);
  background-color: var(--bg-color);
  cursor: pointer;
}

.load-more-btn.is-hidden {
  display: none;
}

.limit-reached {
  padding: 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: var(--bg-color);
}

.back-to-top {
  position: fixed;
  bottom: 3vh;
  right: 1vw;
  z-index: 1000;
  width: 50px;
  height: 50px;
  background: var(--bg-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.back-to-top:hover,
.back-to-top:focus,
.load-more-btn:hover,
.load-more-btn:focus {
  background: var(--accent-color);
}

.back-to-top-show {
  opacity: 1;
  visibility: visible;
}
